.next-btn{
    background-color: #ff3929;
    color: #fff;
    border: 0;
    outline: none;
    padding: 10px 40px;
    border-radius: 4px;
    /* margin:10px auto 100px ; */
    display: block;
    cursor: pointer;
}
