.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.spinner{
    width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top:6px solid #ff3929;
    border-radius: 50%;

    animation: spin 1s linear infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}