*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background: #edeaea;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

nav a.active {
    font-weight: bold;
    color: rgb(255, 84, 5);
    /* animation-duration: 1s; */
}

nav a:hover {
    border-bottom: 2px solid rgb(255, 84, 5);

    /* border-color: aqua;  */
}
.search-area{
    position: relative;
    border: 1px solid rgb(91, 88, 88);
    /* border: none */
    outline: none;
    padding: 4px 15px;
}
.search-btn{
    padding: 4px 15px; 
    
    /* position: absolute; */
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: blue;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
